version: 2
updates:
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Etc/UTC"
    open-pull-requests-limit: 3
    rebase-strategy: "auto"
    groups:
      security-actions:
        patterns:
          - "ossf/*"
          - "github/codeql-action"
          - "step-security/*"
      ci-actions:
        patterns:
          - "actions/*"
          - "github/dependency-review-action"
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "chore(ci)"
      include: "scope"
